@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
$main-color: red;
body {
	font: 18px 'Century Gothic', Futura, sans-serif;
	margin: 20px;
	background-color: rgb(3, 3, 39);
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
#root {
	width: 100%;
	height: 100%;
}
.main-title {
	font-size: 72px;
	background-image: linear-gradient(45deg, #00cdae, #6303b1, #ff0099);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
ol,
ul {
	position: relative;
	padding-left: 30px;
	width: 100%;

	li {
		list-style-type: none;
		margin-left: -30px;
		position: relative;
		display: block;
		line-height: 30px;
		width: 100%;

		button {
			position: relative;
			cursor: pointer;
			font-size: 0.9em;
			color: white;
			background-color: transparent;
			border: none;
			padding: 0;
			box-shadow: 0px 0px 7px 0px plum;
			width: 300px;
			border-radius: 5px;
			margin-bottom: 4px;
			text-align: right;
			overflow: hidden;
			line-height: 25px;

			.left {
				width: 40px;
				float: left;
				background-color: #00cdae;

				svg {
					float: left;
					font-size: 1.3em;
					margin-left: 10px;
					height: 25px;
				}

				.arrow-left {
					height: 0;
					width: 0;
					display: inline-block;
					position: absolute;
					bottom: -50%;
					border-left: 25px solid #00cdae;
					border-top: 25px solid transparent;
					border-bottom: 25px solid transparent;
					transition: all 0.15s;
				}
			}
			.title {
				width: 100%;
				height: 100%;
				display: inline;
				padding: 0 10px;
			}

			&:hover {
				.left {
					svg {
						margin-left: 15px;
					}
				}
			}

			@media screen and(max-width: 360px) {
				width: 100%;
				font-size: 5vw;
			}
		}
	}
}
.board-row {
	button {
		background-color: transparent;
	}
}
.board-row:after {
	clear: both;
	content: '';
	display: table;
}

.status {
	margin-bottom: 10px;
}

.square {
	font-size: 7vw;
	font-family: 'Indie Flower', cursive;
	border: 1px solid rgba(255, 255, 255, 0.301);
	float: left;
	font-weight: bold;
	line-height: 2em;
	height: 2em;
	width: 2em;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: rgba(221, 221, 221, 0.308);
}

.game {
	width: 100%;
	height: 100%;
	margin: auto 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 1em;

	.game-board {
		width: 50%;
		display: flex;
		justify-content: center;
	}

	.game-info {
		width: 50%;
		margin-left: 20px;
	}

	@media screen and (max-width: 650px) {
		flex-direction: column;
		row-gap: 1em;
		justify-items: flex-start;
		align-content: center;

		.game-info {
			height: 100%;
			width: 100%;
			text-align: center;
		}
	}
}

.playerOne {
	color: #fff;
	text-shadow: 0 0 7px #fff, 0 0 10px #bc13fe, 0 0 21px #fff, 0 0 42px #bc13fe,
		0 0 82px #bc13fe, 0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
}
.playerTwo {
	color: #fff;
	text-shadow: 0 0 7px #fff, 0 0 10px #1d32a7, 0 0 21px #fff, 0 0 42px #1d32a7,
		0 0 82px #1d32a7, 0 0 92px #1d32a7, 0 0 102px #1d32a7, 0 0 151px #1d32a7;
}
